<div class="container">

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <img *ngIf="ship !== undefined" [src]="ship?.img | image" alt="" width="100%">
        </div>
        <div class="col-md-6 col-sm-12">
            <h3>{{ ship?.name }}</h3>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td>Model:</td>
                        <td>{{ ship?.model }}</td>
                    </tr>
                    <tr>
                        <td>Manufacturer:</td>
                        <td>{{ ship?.manufacturer }}</td>
                    </tr>
                    <tr>
                        <td>Cost:</td>
                        <td>{{ ship?.cost_in_credits }}</td>
                    </tr>
                    <tr>
                        <td>Length:</td>
                        <td>{{ ship?.length }}</td>
                    </tr>
                    <tr>
                        <td>Max atmosphering speed:</td>
                        <td>{{ ship?.max_atmosphering_speed }}</td>
                    </tr>
                    <tr>
                        <td>Crew:</td>
                        <td>{{ ship?.crew }}</td>
                    </tr>
                    <tr>
                        <td>Passengers:</td>
                        <td>{{ ship?.passengers }}</td>
                    </tr>
                    <tr>
                        <td>Cargo capacity:</td>
                        <td>{{ ship?.cargo_capacity }}</td>
                    </tr>
                    <tr>
                        <td>Consumables:</td>
                        <td>{{ ship?.consumables }}</td>
                    </tr>
                    <tr>
                        <td>Hyperdrive rating:</td>
                        <td>{{ ship?.hyperdrive_rating }}</td>
                    </tr>
                    <tr>
                        <td>MGLT:</td>
                        <td>{{ ship?.mglt }}</td>
                    </tr>
                    <tr>
                        <td>Class:</td>
                        <td>{{ ship?.starship_class }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <button class="btn btn-primary btn-block
            col-sm-12 col-md-4 offset-md-7" type="button" [routerLink]="['/ships']">Volver</button>
    </div>
</div>